[submodule "vim.symlink/bundle/vim-ruby"]
    path = vim.symlink/bundle/vim-ruby
    url = git://github.com/vim-ruby/vim-ruby.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-fugitive"]
    path = vim.symlink/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim.symlink/bundle/matchit.vim"]
    path = vim.symlink/bundle/matchit.vim
    url = https://github.com/vim-scripts/matchit.zip.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-matlab"]
    path = vim.symlink/bundle/vim-matlab
    url = https://github.com/sgeb/vim-matlab.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-colors-solarized"]
    path = vim.symlink/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-surround"]
    path = vim.symlink/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "vim.symlink/bundle/xmledit.vim"]
    path = vim.symlink/bundle/xmledit.vim
    url = https://github.com/sukima/xmledit.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-pathogen"]
    path = vim.symlink/bundle/vim-pathogen
    url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-markdown"]
    path = vim.symlink/bundle/vim-markdown
    url = https://github.com/plasticboy/vim-markdown.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-abolish"]
    path = vim.symlink/bundle/vim-abolish
    url = https://github.com/tpope/vim-abolish.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-endwise"]
    path = vim.symlink/bundle/vim-endwise
    url = https://github.com/tpope/vim-endwise.git
    ignore = dirty
[submodule "vim.symlink/bundle/ack.vim"]
    path = vim.symlink/bundle/ack.vim
    url = https://github.com/mileszs/ack.vim
    ignore = dirty
[submodule "vim.symlink/bundle/vim-airline"]
    path = vim.symlink/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git
    ignore = dirty
[submodule "vim.symlink/bundle/syntastic"]
    path = vim.symlink/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim.symlink/bundle/scratch.vim"]
    path = vim.symlink/bundle/scratch.vim
    url = https://github.com/mtth/scratch.vim.git
    ignore = dirty
[submodule "vim.symlink/bundle/tagbar"]
    path = vim.symlink/bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-textobj-user"]
    path = vim.symlink/bundle/vim-textobj-user
    url = https://github.com/kana/vim-textobj-user.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-textobj-rubyblock"]
    path = vim.symlink/bundle/vim-textobj-rubyblock
    url = https://github.com/nelstrom/vim-textobj-rubyblock.git
    ignore = dirty
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-unimpaired"]
	path = vim.symlink/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-repeat"]
	path = vim.symlink/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
    ignore = dirty
[submodule "vim.symlink/bundle/vim-commentary"]
	path = vim.symlink/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
    ignore = dirty
[submodule "vim.symlink/bundle/tmuxline.vim"]
	path = vim.symlink/bundle/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim.git
    ignore = dirty
[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim.symlink/bundle/delimitMate"]
	path = vim.symlink/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim.symlink/bundle/ultisnips"]
	path = vim.symlink/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim.symlink/bundle/vim-snippets"]
	path = vim.symlink/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim.symlink/bundle/vim-angry"]
	path = vim.symlink/bundle/vim-angry
	url = git@github.com:b4winckler/vim-angry.git
[submodule "vim.symlink/bundle/AnsiEsc.vim"]
	path = vim.symlink/bundle/AnsiEsc.vim
	url = git@github.com:vim-scripts/AnsiEsc.vim.git
[submodule "vim.symlink/bundle/rust.vim"]
	path = vim.symlink/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim.symlink/bundle/racer"]
	path = vim.symlink/bundle/racer
	url = git@github.com:phildawes/racer.git
[submodule "vim.symlink/bundle/vimtex"]
	path = vim.symlink/bundle/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "vim.symlink/bundle/vim-vinegar"]
	path = vim.symlink/bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim.symlink/bundle/vim-airline-themes"]
	path = vim.symlink/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
