# JIRA issue ID
snippet ji "SRVR-XXXX" b
SRVR-${1:`git symbolic-ref --short HEAD | sed -E -ne "s/([0-9]+)\/.*/\1/p"`}
endsnippet

snippet sq "squash!" b
squash! ${1:commit-id}
endsnippet

snippet fu "fixup!" b
fixup! ${1:commit-id}
endsnippet
