snippet % "boilerplate for ipy" b
##% 

import os
import sys
import itertools as it
import functools as ft
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

##%

$0
endsnippet

snippet c "new cell" b
##%

$0
endsnippet
