
snippet cite "\cite{}" i
\cite{${1:cite-key}}${0}
endsnippet

snippet munits "Math units" w
\ \mathrm{[${1:${VISUAL:unit}}]}
endsnippet

snippet tt "\texttt{}" i
\texttt{${1}}${0}
endsnippet

snippet etal "et al.\ " i
et al.\ 
endsnippet
