"*":
  core:
    disabledPackages: [
      "markdown-preview"
      "markdown-preview-plus-opener"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 17
    showInvisibles: true
  "exception-reporting":
    userId: "42ba6965-72ff-4dcb-a579-8e2c6e21fa80"
  "ide-python":
    pylsPlugins:
      jedi_completion: {}
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
      pylint: {}
    python: "/Users/aviv/miniconda3/envs/deeprr/bin/python"
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
      latexRenderer: "HTML-CSS"
    pandocConfig: {}
    previewConfig:
      activatePreviewWithEditor: true
    renderer: "pandoc"
    syncConfig:
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    useGitHubStyle: true
  "markdown-preview-plus-opener":
    closePreviewWhenClosingEditor: true
  "one-dark-ui":
    fontSize: 14
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
