# Insert pry statement
snippet pry
	require 'pry'; binding.pry

snippet reqr
	require_relative "${1}"

snippet logd
	logger.debug(${1:LOGTAG}) { ${2:expression} }

snippet logi
	logger.info(${1:LOGTAG}) { ${2:expression} }

snippet logw
	logger.warn(${1:LOGTAG}) { ${2:expression} }

snippet loge
	logger.error(${1:LOGTAG}) { ${2:expression} }

snippet logf
	logger.fatal(${1:LOGTAG}) { ${2:expression} }

snippet defi
	def initialize(${1:opts})
		${2}
	end
